name: Deploy Atlas Cluster
on:
  workflow_dispatch:  
  pull_request:
    types: [opened, reopened]
    branches:
      - 'main'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - uses: datamonsters/replace-action
        with:
          files: 'terraform.tfvars.json'
          replacements: '$ATLAS_ORG_ID=${{ secrets.ATLAS_ORG_ID }},$ATLAS_PRIVATE_KEY=${{ secrets.ATLAS_PRIVATE_KEY }},$ATLAS_PUBLIC_KEY=${{ secrets.ATLAS_PUBLIC_KEY }}'
      # - run: terraform init
      # - id: plan
      #   run: terraform plan -no-color
      # - name: Terraform Apply
      #   id: apply
      #   run: terraform apply
